In [461]:
import pandas as pd
import numpy as np

In [462]:
cars_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cars.csv')
brand_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/brand.csv')

In [463]:
cars_df.head(10)

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN
5,HYUNDAI COUPE,800,124196,2007,3.0,Petrol,Coupe,2.0L,Manual,3.0,4.0,Euro 4,NaN
6,FORD FOCUS,798,140599,2008,NaN,Petrol,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN
7,VAUXHALL CORSA,1995,90000,2009,NaN,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,NaN
8,VOLVO 740,750,225318,2025,NaN,Petrol,Estate,2.3L,Automatic,5.0,NaN,NaN,NaN
9,PEUGEOT 207,1299,87000,2008,5.0,Diesel,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN

In [464]:
brand_df.head(10)

           title         country
0          skoda  Czech Republic
1       vauxhall  United Kingdom
2        hyundai     South Korea
3           mini  United Kingdom
4           ford   United States
5          volvo          Sweden
6        peugeot          France
7            bmw         Germany
8        citroen          France
9  mercedes-benz         Germany

In [465]:
# brand 데이터 title -> brand title로 컬럼명 변경
brand_df = brand_df.rename({'title':'brand title'}, axis=1)
brand_df

      brand title         country
0           skoda  Czech Republic
1        vauxhall  United Kingdom
2         hyundai     South Korea
3            mini  United Kingdom
4            ford   United States
5           volvo          Sweden
6         peugeot          France
7             bmw         Germany
8         citroen          France
9   mercedes-benz         Germany
10          mazda           Japan
11           saab          Sweden
12     volkswagen         Germany
13          honda           Japan
14             mg  United Kingdom
15         toyota           Japan
16           seat           Spain
17         nissan           Japan
18           alfa           Italy
19        renault          France
20            kia     South Korea
21         proton        Malaysia
22           fiat           Italy
23           audi         Germany
24     mitsubishi           Japan
25          lexus           Japan
26           land  United Kingdom
27      chevrolet   United States
28         suzuki           Japan
29          dacia         Romania
30       daihatsu           Japan
31           jeep   United States
32         jaguar  United Kingdom
33       chrysler   United States
34          rover  United Kingdom
35             ds          France
36         daewoo     South Korea
37          dodge   United States
38        porsche         Germany
39         subaru           Japan
40       infiniti           Japan
41         abarth           Italy
42          smart         Germany
43         marcos  United Kingdom
44       maserati           Italy
45      ssangyong     South Korea
46        lagonda  United Kingdom
47          isuzu           Japan

In [466]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 374.6+ KB

In [467]:
brand_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand title  48 non-null     object
 1   country      48 non-null     object
dtypes: object(2)
memory usage: 900.0+ bytes

In [468]:
cars_df.value_counts()

title                 Price  Mileage(miles)  Registration_Year  Previous Owners  Fuel type      Body type  Engine  Gearbox    Doors  Seats  Emission Class  Service history
FORD FOCUS            10970  91000           2019               1.0              Petrol         Hatchback  1.5L    Manual     5.0    5.0    Euro 6          Full               22
VOLKSWAGEN T-CROSS    17670  14385           2021               1.0              Petrol         SUV        1.0L    Manual     5.0    5.0    Euro 6          Full               20
VOLKSWAGEN POLO       15970  11500           2021               1.0              Petrol         Hatchback  1.0L    Manual     5.0    5.0    Euro 6          Full               14
AUDI A5 DIESEL COUPE  16555  68603           2017               1.0              Diesel         Coupe      2.0L    Automatic  2.0    4.0    Euro 6          Full               14
NISSAN JUKE           11000  45462           2019               1.0              Petrol         SUV        1.6L    Manual     5.0    5.0    Euro 6          Full               10
                                                                                                                                                                               ..
HYUNDAI TUCSON        20500  25162           2021               3.0              Petrol Hybrid  SUV        1.6L    Manual     5.0    5.0    Euro 6          Full                1
HYUNDAI SANTA FE      6995   146000          2014               2.0              Diesel         SUV        2.2L    Manual     5.0    5.0    Euro 5          Full                1
HYUNDAI IONIQ         15399  44434           2021               1.0              Petrol Hybrid  Hatchback  1.6L    Automatic  5.0    5.0    Euro 6          Full                1
HYUNDAI I40           6949   50094           2013               4.0              Diesel         Saloon     1.7L    Automatic  4.0    5.0    Euro 5          Full                1
KIA SPORTAGE          4950   104000          2010               1.0              Petrol         SUV        1.6L    Manual     5.0    5.0    Euro 5          Full                1
Name: count, Length: 311, dtype: int64

In [469]:
brand_df.value_counts()

brand title    country
abarth         Italy             1
alfa           Italy             1
audi           Germany           1
bmw            Germany           1
chevrolet      United States     1
chrysler       United States     1
citroen        France            1
dacia          Romania           1
daewoo         South Korea       1
daihatsu       Japan             1
dodge          United States     1
ds             France            1
fiat           Italy             1
ford           United States     1
honda          Japan             1
hyundai        South Korea       1
infiniti       Japan             1
isuzu          Japan             1
jaguar         United Kingdom    1
jeep           United States     1
kia            South Korea       1
lagonda        United Kingdom    1
land           United Kingdom    1
lexus          Japan             1
marcos         United Kingdom    1
maserati       Italy             1
mazda          Japan             1
mercedes-benz  Germany           1
mg             United Kingdom    1
mini           United Kingdom    1
mitsubishi     Japan             1
nissan         Japan             1
peugeot        France            1
porsche        Germany           1
proton         Malaysia          1
renault        France            1
rover          United Kingdom    1
saab           Sweden            1
seat           Spain             1
skoda          Czech Republic    1
smart          Germany           1
ssangyong      South Korea       1
subaru         Japan             1
suzuki         Japan             1
toyota         Japan             1
vauxhall       United Kingdom    1
volkswagen     Germany           1
volvo          Sweden            1
Name: count, dtype: int64

In [470]:
# cars_df, brand_df 데이터 병합
new_data = pd.concat([cars_df, brand_df], axis=1)

In [471]:
new_data.head(10)

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,brand title,country
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN,skoda,Czech Republic
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full,vauxhall,United Kingdom
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN,hyundai,South Korea
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full,mini,United Kingdom
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN,ford,United States
5,HYUNDAI COUPE,800,124196,2007,3.0,Petrol,Coupe,2.0L,Manual,3.0,4.0,Euro 4,NaN,volvo,Sweden
6,FORD FOCUS,798,140599,2008,NaN,Petrol,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN,peugeot,France
7,VAUXHALL CORSA,1995,90000,2009,NaN,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,NaN,bmw,Germany
8,VOLVO 740,750,225318,2025,NaN,Petrol,Estate,2.3L,Automatic,5.0,NaN,NaN,NaN,citroen,France
9,PEUGEOT 207,1299,87000,2008,5.0,Diesel,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN,mercedes-benz,Germany

In [472]:
new_data.tail(10)

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history,brand title,country
3677,ROVER 800,3975,34000,1995,NaN,Petrol,Saloon,2.7L,Automatic,4.0,NaN,NaN,NaN,NaN,NaN
3678,JEEP CHEROKEE,2750,100000,2004,3.0,Petrol,SUV,3.7L,Automatic,5.0,5.0,Euro 3,NaN,NaN,NaN
3679,HONDA PRELUDE,2475,156097,1998,2.0,Petrol,Coupe,2.2L,Automatic,2.0,4.0,Euro 2,Full,NaN,NaN
3680,CITROEN C3,1795,85962,2009,NaN,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 4,NaN,NaN,NaN
3681,NISSAN QASHQAI,1695,104000,2009,3.0,Petrol,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN,NaN,NaN
3682,RENAULT MEGANE,1395,76202,2006,4.0,Petrol,Hatchback,1.6L,Manual,5.0,5.0,Euro 4,NaN,NaN,NaN
3683,AUDI A4,6990,119000,2012,NaN,Petrol,Saloon,2.0L,Manual,4.0,5.0,Euro 5,NaN,NaN,NaN
3684,BMW 3 SERIES,3995,139000,2013,NaN,Diesel,Saloon,2.0L,Manual,4.0,5.0,Euro 5,NaN,NaN,NaN
3685,HONDA ACCORD,1390,179190,2007,NaN,Diesel,Estate,2.2L,Manual,5.0,5.0,Euro 4,Full,NaN,NaN
3686,VAUXHALL CORSA,2000,82160,2013,7.0,Petrol,Hatchback,1.2L,Manual,5.0,5.0,Euro 5,NaN,NaN,NaN

In [473]:
new_data['Emission Class'].unique()

array(['Euro 6', 'Euro 4', 'Euro 5', nan, 'Euro 3', 'Euro 2', 'Euro 1'],
      dtype=object)

In [474]:
# 카테고리형 변수를 숫자 형태로 변환하기
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    2276 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3642 non-null   object
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  Emission Class     3600 non-null   object
 12  Service history    540 non-null    object
 13  brand title        48 non-null     object
 14  country            48 non-null     object
dtypes: float64(3), int64(3), object(9)
memory usage: 432.2+ KB

In [475]:
new_data['Engine'] = pd.to_numeric(new_data['Engine'].str.replace('L', '', regex=False))

In [476]:
new_data['emission_num'] = new_data['Emission Class'].str.extract(r'(\d+)').astype(float)

In [477]:
new_data['emission_num']

0       6.0
1       4.0
2       5.0
3       4.0
4       5.0
       ...
3682    4.0
3683    5.0
3684    5.0
3685    4.0
3686    5.0
Name: emission_num, Length: 3687, dtype: float64

In [478]:
# Emission Class 컬럼 지우기
new_data = new_data.drop(columns='Emission Class')

In [479]:
# Service history 변수의 결측치는 'Unknown'으로 채우기
new_data['Service history'].fillna('Unknown')

0       Unknown
1          Full
2       Unknown
3          Full
4       Unknown
         ...
3682    Unknown
3683    Unknown
3684    Unknown
3685       Full
3686    Unknown
Name: Service history, Length: 3687, dtype: object

In [480]:
new_data['Service history'].unique()

array([nan, 'Full'], dtype=object)

In [481]:
new_data['Previous Owners'].unique()

array([ 3.,  4., nan,  5.,  1.,  2.,  6.,  7.,  9.,  8.])

In [482]:
new_data['Previous Owners'].value_counts()

Previous Owners
2.0    594
1.0    523
3.0    475
4.0    360
5.0    208
6.0     60
7.0     39
8.0     12
9.0      5
Name: count, dtype: int64

In [483]:
# Previous Owners	컬럼에서 7명 이상은 평균으로 대체
def owners_func(x):
  if x >= 7:
    return new_data['Previous Owners'].mean()
  else:
    return x

In [484]:
new_data['Previous Owners'] = new_data['Previous Owners'].apply(lambda x : new_data['Previous Owners'].mean() if x >= 7 else x)

In [485]:
new_data['Previous Owners']

0       3.000000
1       4.000000
2            NaN
3       5.000000
4            NaN
          ...
3682    4.000000
3683         NaN
3684         NaN
3685         NaN
3686    2.807557
Name: Previous Owners, Length: 3687, dtype: float64

In [486]:
# Previous Owners	컬럼에서 결측치 평균으로 대체
new_data['Previous Owners'] = new_data['Previous Owners'].fillna(new_data['Previous Owners'].mean())

In [487]:
new_data['Previous Owners'].isna().sum()

np.int64(0)

In [488]:
# 결측치 측정
new_data.isna().sum()

title                   0
Price                   0
Mileage(miles)          0
Registration_Year       0
Previous Owners         0
Fuel type               0
Body type               0
Engine                 45
Gearbox                 0
Doors                  25
Seats                  35
Service history      3147
brand title          3639
country              3639
emission_num           87
dtype: int64

In [489]:
new_data['Engine'] = new_data['Engine'].fillna(new_data['Engine'].mean())

In [490]:
new_data['Service history'].unique()

array([nan, 'Full'], dtype=object)

In [491]:
#'Service history' 컬럼 지우기
new_data = new_data.drop(columns='Service history')

In [492]:
new_data.head(10)

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,brand title,country,emission_num
0,SKODA FABIA,6900,70189,2016,3.000000,Diesel,Hatchback,1.4,Manual,5.0,5.0,skoda,Czech Republic,6.0
1,VAUXHALL CORSA,1495,88585,2008,4.000000,Petrol,Hatchback,1.2,Manual,3.0,5.0,vauxhall,United Kingdom,4.0
2,HYUNDAI I30,949,137000,2011,2.694738,Petrol,Hatchback,1.4,Manual,5.0,5.0,hyundai,South Korea,5.0
3,MINI HATCH,2395,96731,2010,5.000000,Petrol,Hatchback,1.4,Manual,3.0,4.0,mini,United Kingdom,4.0
4,VAUXHALL CORSA,1000,85000,2013,2.694738,Diesel,Hatchback,1.3,Manual,5.0,5.0,ford,United States,5.0
5,HYUNDAI COUPE,800,124196,2007,3.000000,Petrol,Coupe,2.0,Manual,3.0,4.0,volvo,Sweden,4.0
6,FORD FOCUS,798,140599,2008,2.694738,Petrol,Hatchback,1.6,Manual,5.0,5.0,peugeot,France,4.0
7,VAUXHALL CORSA,1995,90000,2009,2.694738,Petrol,Hatchback,1.2,Manual,3.0,5.0,bmw,Germany,4.0
8,VOLVO 740,750,225318,2025,2.694738,Petrol,Estate,2.3,Automatic,5.0,NaN,citroen,France,NaN
9,PEUGEOT 207,1299,87000,2008,5.000000,Diesel,Hatchback,1.6,Manual,5.0,5.0,mercedes-benz,Germany,4.0

In [493]:
# brnad title 값 대문자로 변환
new_data['brand title'] = new_data['brand title'].str.upper()

In [494]:
# brand title 데이터를 title에서 뽑아오기
new_data['brand title'] = new_data['title'].str.split().str[0]

In [495]:
new_data['Doors'].unique()

array([ 5.,  3.,  4.,  2., nan])

In [496]:
new_data['Doors'].value_counts(normalize=True)

Doors
5.0    0.640087
3.0    0.200710
4.0    0.100218
2.0    0.058984
Name: proportion, dtype: float64

In [497]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3687 entries, 0 to 3686
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              3687 non-null   object
 1   Price              3687 non-null   int64
 2   Mileage(miles)     3687 non-null   int64
 3   Registration_Year  3687 non-null   int64
 4   Previous Owners    3687 non-null   float64
 5   Fuel type          3687 non-null   object
 6   Body type          3687 non-null   object
 7   Engine             3687 non-null   float64
 8   Gearbox            3687 non-null   object
 9   Doors              3662 non-null   float64
 10  Seats              3652 non-null   float64
 11  brand title        3687 non-null   object
 12  country            48 non-null     object
 13  emission_num       3600 non-null   float64
dtypes: float64(5), int64(3), object(6)
memory usage: 403.4+ KB

In [503]:
new_data2 = new_data.groupby('country')['brand title'].apply(list).reset_index()
print(new_data2)

           country                                        brand title
0   Czech Republic                                            [SKODA]
1           France                   [FORD, VOLVO, CITROEN, VAUXHALL]
2          Germany  [VAUXHALL, PEUGEOT, SKODA, PEUGEOT, VOLKSWAGEN...
3            Italy      [VAUXHALL, MERCEDES-BENZ, VAUXHALL, VAUXHALL]
4            Japan  [FORD, BMW, VAUXHALL, CITROEN, FORD, VAUXHALL,...
5         Malaysia                                             [FORD]
6          Romania                                            [SKODA]
7      South Korea             [HYUNDAI, CITROEN, VAUXHALL, VAUXHALL]
8            Spain                                          [PEUGEOT]
9           Sweden                                [HYUNDAI, VAUXHALL]
10  United Kingdom  [VAUXHALL, MINI, CITROEN, MERCEDES-BENZ, SAAB,...
11   United States      [VAUXHALL, FORD, MAZDA, VOLKSWAGEN, VAUXHALL]

In [505]:
new_data2['brand_count'] = new_data2['brand title'].map(len)
new_data2['brand_count']

0      1
1      4
2      6
3      4
4     11
5      1
6      1
7      4
8      1
9      2
10     8
11     5
Name: brand_count, dtype: int64

**Standard Scaling**: 평균을 중심으로 데이터를 정렬해주는 방법

*   모두 평균 근처로 몰려 있게 해줘
*   평균을 0으로, 퍼짐 정도(표준편차)를 1로 맞추는 것


**Robust Scaling**: 극단적인 값(이상치)을 무시하고 정리하는 방법

*   이상치 무시하고, 중간 값 기준으로 정리해줘
*   가운데 값(중앙값)을 기준으로, 양쪽 25%~75% 범위(IQR)를 사용함


**Min-Max Scaling**: 값을 0부터 1 사이로 쭉~ 늘리거나 줄이는 방법

*   가장 작은 값은 0, 가장 큰 값은 1로 만들어줘!"
*   나머지 값들은 그 사이에 고르게 배치됨

In [ ]:
# 스케일링을 자동적으로 해주는 라이브러리
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

In [ ]:
ss = StandardScaler()
rs = RobustScaler()
mm = MinMaxScaler()

In [ ]:
new_data = pd.get_dummies(new_data, columns=['title', 'Fuel type','Body type','Gearbox', 'brand title','country'])

In [ ]:
ss.fit(new_data)

In [ ]:
# StandardScaler()
ss_df = pd.DataFrame(ss.transform(new_data), columns=new_data.columns)

In [ ]:
rs.fit(new_data)

In [ ]:
# RobustScaler()
rs_df = pd.DataFrame(rs.transform(new_data), columns=new_data.columns)

In [ ]:
mm.fit(new_data)

In [ ]:
mm_df = pd.DataFrame(mm.transform(new_data), columns=new_data.columns)

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA()

In [ ]:
new_data = new_data.dropna()  # 결측치 제거

In [ ]:
pca.fit(new_data)

In [ ]:
pd.DataFrame(pca.transform(new_data))

In [ ]:
pca = PCA(n_components=0.7)

In [ ]:
pd.DataFrame(pca.fit_transform(new_data), columns = ['PC1'])

In [ ]:
(pca.explained_variance_ratio_).sum()

In [ ]:
new_data.head(10)